<footer class="py-2 flex justify-center text-white bg-zinc-950 mt-auto">
  <div class="container">
    <p class="flex flex-col items-center gap-1">YelpCamp<span>&copy; 2023</span></p>
  </div>
</footer>