<% layout("/layouts/boilerplate") %>
  <header class="my-4 flex flex-col md:flex-row justify-center items-center md:items-end gap-4">
    <h1 class="text-4xl font-semibold">All Campgrounds</h1>
    <a href="/campgrounds/new"
      class="px-4 py-2 text-xs text-white font-bold bg-green-400 rounded-xl shadow-md duration-200 hover:scale-95 hover:shadow-sm">
      + Add Campground
    </a>
  </header>
  <main class="container mt-10 mb-32 px-8 md:mx-auto">
    <ul class="flex flex-col gap-4 md:grid md:grid-cols-3 xl:grid-cols-5">
      <% for( let campground of campgrounds ) { %>
        <li class="border rounded-md overflow-hidden duration-200 md:text-center md:hover:shadow-lg md:hover:scale-105">
          <img src="<%= campground.image %>" alt="" class="h-32 w-full object-cover">
          <a href="/campgrounds/<%= campground._id %>"
            class="inline-block my-4 px-4 relative font-semibold duration-75 before:w-0 before:h-0.5 before:absolute before:bottom-0 before:left-1/2 before:bg-black before:transition-all before:duration-300 hover:font-bold hover:before:w-full hover:before:left-0 md:px-0">
            <%= campground.title %>
          </a>
        </li>
        <% } %>
    </ul>
  </main>