<% layout("/layouts/boilerplate") %>
  <header class="my-4 flex flex-col md:flex-row justify-center items-center md:items-end gap-4">
    <h1 class="text-4xl font-semibold">All Campgrounds</h1>
    <a href="/campgrounds/new"
      class="px-4 py-2 text-xs text-white font-bold bg-green-400 rounded-xl shadow-md duration-200 hover:scale-95 hover:shadow-sm">
      + Add Campground
    </a>
  </header>
  <main class="container mt-10 mb-32 px-8 md:mx-auto">
    <ul class="flex flex-col gap-4 md:grid md:grid-cols-3 xl:grid-cols-5">
      <% for( let campground of campgrounds ) { %>
        <li class="p-4 border border-gray-400 duration-200 md:text-center md:hover:shadow-md md:hover:scale-105">
          <a href="/campgrounds/<%= campground._id %>"
            class="inline-block pb-2 font-semibold duration-150 hover:text-blue-500 hover:italic">
            <%= campground.title %>
          </a>
        </li>
        <% } %>
    </ul>
  </main>